*{
    margin: 0%;
    padding: 0%;
}

body{
    background: url(../imagenes_de_la_web/Green\ and\ Yellow\ Simple\ Clean\ Shoes\ Banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#seccion_registro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 635px;
}

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #000000;
    margin: 200px auto;
    border: 1px solid #ffffff40;
}
.filter{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243,0.2);
}

#titulo_registro{
    font-size:xx-large;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
    color: white;
    border-bottom: solid white 1px;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

#seccion_registro form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: auto;
    height:200px;
    padding: 50px;
}
.input_form_registro{
    width: 300px;
    padding: 9px;
    border-radius: 10px;
    border: solid 2px greenyellow;
    color: black;
    cursor: pointer;
}
.label_input_registro{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    color: red;
}

#boton_registro{
    cursor: pointer;
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: black;
    background: greenyellow;
}
#olvido_registro a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: none;
    font-family: sans-serif;
    font-size: medium;
    color: white;
    margin: 0px 0px 20px 0px;
}